@font-face {
	font-family: "Pluto";
    src: url("https://db.onlinewebfonts.com/t/f0f5393a17b9542df826753e74d91869.eot"); /* IE9*/
    src: url("https://db.onlinewebfonts.com/t/f0f5393a17b9542df826753e74d91869.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("https://db.onlinewebfonts.com/t/f0f5393a17b9542df826753e74d91869.woff2") format("woff2"), /* chrome firefox */
    url("https://db.onlinewebfonts.com/t/f0f5393a17b9542df826753e74d91869.woff") format("woff"), /* chrome firefox */
    url("https://db.onlinewebfonts.com/t/f0f5393a17b9542df826753e74d91869.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("https://db.onlinewebfonts.com/t/f0f5393a17b9542df826753e74d91869.svg#Pluto") format("svg"); /* iOS 4.1- */
}

@font-face {
	font-family: "Pluto";
    src: url("https://db.onlinewebfonts.com/t/788819406d36491cb73c9f65ba29f980.eot"); /* IE9*/
    src: url("https://db.onlinewebfonts.com/t/788819406d36491cb73c9f65ba29f980.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("https://db.onlinewebfonts.com/t/788819406d36491cb73c9f65ba29f980.woff2") format("woff2"), /* chrome firefox */
    url("https://db.onlinewebfonts.com/t/788819406d36491cb73c9f65ba29f980.woff") format("woff"), /* chrome firefox */
    url("https://db.onlinewebfonts.com/t/788819406d36491cb73c9f65ba29f980.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("https://db.onlinewebfonts.com/t/788819406d36491cb73c9f65ba29f980.svg#Pluto") format("svg"); /* iOS 4.1- */
}

body {
	display: block;
	overflow: hidden;
	margin: 0;
	box-sizing: border-box;
	width: 100%;
	height: 100vh;
	font-family: "Pluto", sans-serif;
}

.bigText, .smallText, .footer {
	text-align: center;
}

.bigText {
	font-size: 1.5rem;
	font-weight: bold;
	text-shadow: 2px 2px 1px rgba(0,0,0,0.25);
}

.caps {
	text-transform: uppercase;
}

.smallText {
	font-size: 1.125rem;
	font-weight: lighter;
	text-shadow: none;
	position: relative;
	transition: all 1s ease-in-out;
	/**text-shadow: 2px 2px 1px rgba(0,0,0,0.25);**/
}

.smallText > a {
	text-decoration: none;
}

.smallText:hover > a {
	text-decoration: underline;
}

.main, .left {
	display: inline-block;
}

.footer {
	position: absolute;
	width: 100%;
	bottom: 10px;
	font-size: .65rem;
}

.left {
	z-index: 9999;
	float: left;
	width: 380px;
	height: 100vh;
	background-color: #FFCC01;
	border-right: 5px solid black;
}

.wrapper {
	position: relative;
	display: block;
	height: 100%; 
}

.logo {
	width: 60%;
	margin: 40px 20%;
}

.animate {
	animation: roll 1.25s ease-in-out;
}

.seperator {
	height: 5px;
	background: black;
	width: 380px;
}

.main {
	float: right;
	width: calc(100vw - 385px);
	height: 100vh;
}

.slide {
	position: absolute;
	height: 100%;
	width: 100%;
}

.slide > img {
	min-height: 100%;
	max-height: 100%;
	filter: saturate(75%);
}

.social {
	display: flex;
    justify-content: space-around;
	list-style-type: none;
	margin: -15px 125px 0 125px;
    padding: 0;
}

.social i {
	text-shadow: 2px 2px 1px rgba(0,0,0,0.25);
}

a {
	color: black;
}

a:link {
    color:inherit;
}

@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes roll {
	0% { transform: rotate(0deg) }
	100% { transform: rotate(360deg) }
}

.left::after, .main::after {
	content: '';
	clear: both;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
	.main {
		display: none;
	}
	
	.left, .seperator {
		width: 100%;
	}
	
	.left {
		float: none;
		border: none;
	}
	
	.footer {
		position: relative;
	}
	
	.social {
		margin-bottom: 25px;
	}
	
	body {
		overflow-y: scroll;
		background-color: #FFCC01;
		border-right: 5px solid black;
	}
}